body{
     margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: white
}
header{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    background-color: white
    padding: 10px;
}
.entete{
    display: flex;
    align-items: center;
    gap: 10px;
}
    li a:hover{
    color:rgb(212, 17, 17)
    letter-spacing: 0.2em;
}

.img-entete{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    color: rgb(214, 46, 46);
    background-color: brown;

}
.entete span{
    font-weight: bold;
    text-transform: uppercase;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 50px;
}
li a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
section{
    padding: 40px 40px;
}
.ab{
    text-transform: uppercase;
}
#accueil{
    padding: 50px;
    padding-top: 150px;
    }
.rouge{
    color: rgb(225, 21, 21);

}
.content{
    display: flex;
    gap: 40px;
    margin-bottom: 3%;
}
.content p{
    text-align: justify;
}
.content-left{
    max-width: 50%;
}
.img1{
   display: flex;
    gap: 40px;
    margin-bottom: 3%;
    
    
    
}
.content-left img{
    
}
.divLien a{
    padding: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    background-color: rgb(226, 43, 64);
    border-radius: 10px;
    margin-top: 2%;
}
.divlien1 button {
    padding: 15px;
    text-transform: uppercase;
    color: rgb(233, 14, 14);
    text-decoration:none;
    background-color: white;
    border-radius: 10px;
    margin-top: 2%;
    display: flex;
    border-color: rgb(234, 9, 9);
}
.op{
    text-align: center;
}
fieldset{
    border-color: rgb(240, 10, 10);
    width: 300px;
    height: 400px;
    
}
.cont{
    display: flex;
    
}
.dev{
    display: flex;
    width: 100%;
}

    
    


